# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
import numpy as np
import pandas as pd

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries=pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:

salaries.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

In [5]:
salaries.isnull().sum()/len(salaries)
## checking null amounts

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

In [6]:
salaries.columns = salaries.columns.str.lower().str.replace(' ', '_')

salaries.isnull().sum()/len(salaries)

name                 0.000000
job_titles           0.000000
department           0.000000
full_or_part-time    0.000000
salary_or_hourly     0.000000
typical_hours        0.757462
annual_salary        0.242538
hourly_rate          0.757462
dtype: float64

In [7]:
##checking the null values

In [8]:
salaries["typical_hours"].value_counts(dropna=False)

NaN     25528
40.0     5920
20.0     1928
10.0      235
35.0       91
Name: typical_hours, dtype: int64

In [9]:
salaries["annual_salary"].value_counts(dropna=False)

NaN         8174
90024.0     1743
84054.0     1500
93354.0     1469
72510.0     1307
            ...
113304.0       1
107112.0       1
80088.0        1
69720.0        1
65976.0        1
Name: annual_salary, Length: 925, dtype: int64

In [10]:
salaries["hourly_rate"].value_counts(dropna=False)

NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: hourly_rate, Length: 179, dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Your code here:

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
salaries["department"].value_counts(dropna=False)
##checking dep

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [13]:
result=salaries[salaries["salary_or_hourly"]=="Hourly"]

In [14]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(result["hourly_rate"]) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(result["hourly_rate"])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(result["hourly_rate"]) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [15]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

In [16]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(result["hourly_rate"], 30)

In [17]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [18]:
## as far as we can see the confidence interval is  (34.29839539204361, 34.874504045197305) therefor it is quite dif from the 30$ hourly rate 
## pvalue is lower than 0.05 therefor the null hypothesis is probably not true

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [19]:
result=salaries[salaries["department"]=="POLICE"]

In [20]:
result["salary_or_hourly"].value_counts(dropna=False)

Salary    13824
Hourly       24
Name: salary_or_hourly, dtype: int64

In [21]:
result1=result[result["salary_or_hourly"]=="Salary"]
result1

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
...,...,...,...,...,...,...,...,...
33696,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [22]:
result1.isnull().sum()/len(result1)

name                 0.0
job_titles           0.0
department           0.0
full_or_part-time    0.0
salary_or_hourly     0.0
typical_hours        1.0
annual_salary        0.0
hourly_rate          1.0
dtype: float64

In [23]:

import scipy.stats

confidence_level = 0.95
degrees_freedom = len(result1["annual_salary"]) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(result1["annual_salary"])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(result1["annual_salary"]) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [24]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

In [25]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(result1["annual_salary"], 86000)

In [26]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

print('pvalue for the one-tailed test is ', pval/2)

stat is   18.51748561981861
pvalue for the two-tailed test is  1.2239133904242963e-75
pvalue for the one-tailed test is  6.119566952121482e-76

In [27]:
scipy.stats.sem(result1["annual_salary"])*stat

2834.118923611109

In [28]:
## pvalue is lower than 0.05 therefor the null hypothesis is probably not true

Using the `crosstab` function, find the department that has the most hourly workers.

In [49]:

pd.crosstab(index=[salaries.department], columns=["annual_salary"], values=salaries.annual_salary, aggfunc=sum)

col_0                annual_salary
department
ADMIN HEARNG          3.056316e+06
ANIMAL CONTRL         4.494036e+06
AVIATION              5.054873e+07
BOARD OF ELECTION     5.984600e+06
BOARD OF ETHICS       7.983600e+05
BUDGET & MGMT         4.142940e+06
BUILDINGS             2.756841e+07
BUSINESS AFFAIRS      1.359385e+07
CITY CLERK            6.557791e+06
CITY COUNCIL          2.053848e+07
COPA                  1.011954e+07
CULTURAL AFFAIRS      5.690280e+06
DAIS                  2.714609e+07
DISABILITIES          2.401176e+06
FAMILY & SUPPORT      2.525725e+07
FINANCE               3.821756e+07
FIRE                  4.465732e+08
HEALTH                4.225519e+07
HOUSING               6.076218e+06
HOUSING & ECON DEV    1.357243e+07
HUMAN RELATIONS       1.614864e+06
HUMAN RESOURCES       6.448308e+06
INSPECTOR GEN         8.132340e+06
LAW                   3.279208e+07
LICENSE APPL COMM     9.398400e+04
MAYOR'S OFFICE        9.178860e+06
OEMC                  4.956430e+07
POLICE                1.228043e+09
POLICE BOARD          1.795680e+05
PROCUREMENT           7.459308e+06
PUBLIC LIBRARY        5.424818e+07
PUBLIC SAFETY ADMIN   1.824256e+07
STREETS & SAN         2.911942e+07
TRANSPORTN            3.685087e+07
TREASURER             2.593125e+06
WATER MGMNT           3.441637e+07

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [30]:
##please see above

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [31]:
##please see above

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [34]:
result=salaries[salaries["salary_or_hourly"]=="Hourly"]

In [35]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(result["hourly_rate"]) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(result["hourly_rate"])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(result["hourly_rate"]) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [38]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

In [36]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(result["hourly_rate"], 35)

In [37]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   -2.8142736834194233
pvalue for the two-tailed test is  0.004900444344659862

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [33]:
# Your code here: